body {
	font-size: 3rem;
	text-align: center;
	font-family: Arial, sans-serif;
	background-color: #00fff2;
}

button {
	background: none;
	border: none;
	transition: transform 0.1s;
}

input[type="submit"] {
	font-size: 3rem;
}

input[type="text"] {
	font-size: 3rem;
}

input[type="password"] {
	font-size: 3rem;
}

input[type="checkbox"] {
	width: 2rem;
	height: 2rem;
}

select {
	font-size: 3rem;
}

table {
	width: 100%;
	font-size: 3rem;
	border: 3px solid black;
}

th {
	font-size: 3rem;
	border: 3px solid black;
}

/* th, td {
	padding: 1rem;
} */

/* .right {
	float: right;
}

.left {
	float: left;
} */