body {
    font-size: 48px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #00fff2;
}

h1 {
    font-size: 110px;
    margin-top: 10px;
    margin-bottom: 50px;
}

button {
    font-size: 48px;
    background-color: #1052e1;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

input[type='checkbox'] {
	width: 32px;
	height: 32px;
}

input[type='submit'] {
	font-size: 35px;
}

select {
	font-size: 48px;
}

input[type='text'] {
	font-size: 38px;
}

input[type='password'] {
	font-size: 48px;
}

.Video {
    font-weight: bold;
}

p.Video {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 25px;
    border: 10px solid black;
    padding: 25px;
}

.Video iframe {
    margin-bottom: 20px;
}

#question {
    font-size: 90px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 60px;
}


/* button {
    background: none;
    border: none;
    transition: transform 0.1s;
}

input[type='submit'] {
    font-size: 3rem;
}

input[type='text'] {
    font-size: 3rem;
}

input[type='password'] {
    font-size: 3rem;
}

input[type='checkbox'] {
    width: 2rem;
    height: 2rem;
}

select {
    font-size: 3rem;
}

table {
    width: 100%;
    font-size: 3rem;
    border: 3px solid black;
}

th {
    font-size: 3rem;
    border: 3px solid black;
}

/* th, td {
    padding: 1rem;
} */

/* .right {
    float: right;
}

.left {
    float: left;
} */